[MASTER]
init-hook='import sys; sys.path.append("src")'

extension-pkg-whitelist=pydantic,pytest,sqlalchemy
ignore=alembic

disable=
    #  CONVENÇOES
    # Nao estamos usando doctrings
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,


    # CONFLITOS
    # O pytest requer que o nome do argumento seja igual ao da fixture e isso conflita com
    # o seguinte warning do pylint
    redefined-outer-name,

    unbalanced-tuple-unpacking,
    too-many-arguments,
    super-init-not-called




[BASIC]
    ### Nomenclatura ###

    # funçoes
    function-naming-style=snake_case
    # variavies
    variable-naming-style=snake_case
    # constantes
    const-naming-style=UPPER_CASE
    # atributos
    attr-naming-style=snake_case
    # argumentos
    argument-naming-style=snake_case

    # Classes
    class-naming-style=PascalCase
    # classes-atributos
    class-attribute-naming-style=any
    # classes-constantes
    class-const-naming-style=UPPER_CASE
    #classes-metodos
    method-naming-style=snake_case

    # Modulos
    module-naming-style=snake_case

    good-names=rg,db,id
